body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

tr:hover {
    background-color: rgb(200, 200, 200);
  }

table.center {
    margin-left: auto; 
    margin-right: auto;
  }

p {
    font-size: large;
  }

a {
    background-color: rgb(80, 80, 80);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
  }

a:hover, a:active {
    background-color: rgb(140, 230, 255)    ;
  }


html {
  --s: 200px; /* control the size*/
  --c1: #e4e4e4;
  --c2: #cdcecf;
  --c3: #919191;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
     calc(.5*var(--s)) calc(.5*var(--s)*0.577),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s)*0.577);
}

