body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

.title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
  }

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

tr:hover {
    background-color: rgb(200, 200, 200);
  }

table.center {
    margin-left: auto; 
    margin-right: auto;
  }

p {
    font-size: large;
  }

a {
    background-color: rgb(80, 80, 80);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
  }

a:hover, a:active {
    background-color: rgb(140, 230, 255)    ;
  }


  .accordion {
    max-width: 350px;
    text-align: center;
  }
  
  article {
    border: 1px solid black;
    padding: 1em;
    margin: 1em auto;
    border-radius: 15px;
    text-align: center;
  }
  
  input[type="checkbox"] {
    appearance: none;
    position: fixed;
    top: -100vh; left: -100vh;
  
    & ~ div {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s;
    }
  
    &:checked ~ div {
      max-height: 350px;
    }
  }

  *, *::before, *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
  }


