
 body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 20px;
    color: #444;
    padding: 0 10px;
    background-color: #eeeeeeda;
  }

h1, h2, p, a {
    text-align: center;

}

a:link {
  color:steelblue;
  text-decoration: none;
}

a:visited {
  color:steelblue;
  text-decoration: none;
}

.lado {
    text-align: left;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes blink {
  0% {opacity: 1; color: cornflowerblue;}
  50% {opacity: 1; color:orange;}
  100% {opacity: 1; color:mediumpurple}
}

.piscando {
  animation: blink 1s infinite;
}

.destaque{
  background-color:rgb(181, 181, 181);
  border-radius: 5%;
  padding: 4%;
  outline: auto;
}